/*p {
    color: red;
}
*/
p {
    color: red;
    width: 500px;
    border: 1px solid black;
}

p,
li,
h1 {
    color: red;
}

/* 
p selects <p>
#mi-id selects <p id="my-id" or <a id="my-id">
.my-class selects <p id="my-id"> or <a id="my-id">
attribute selector: img[src] selects <img src="myimage.png">
but not <img>
pseudo-class selector selects the specified element(s) but
only when in the specified state. (For example, when a 
cursor hovers over a link.). a:hover selects <a>, but only
when the mouse pointer is hovering over the link
*/

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high
     */
     font-family: "Open Sans", sans-serif; /* this should be the rest of the output 
     from gf */
}

h1 {
    font-size: 60px;
    text-align: center;
}


p, 
li {
    font-size: 16;
    line-height: 2;
    letter-spacing: 1px;
}

/*properties of block elements of html are
padding, the space around the countent
border, the solid line that is just outside the padding
margin, the space around the outside of the border 
others:
width (of an element)
background-color, the color behind an element's content and padding
color: the color of the element's content, usually text
text-shadow sets a drop shadow on the text inside an element
display sets the display mode of an element




*/

html {
    background-color: #00539f;
}

/* styling the body*/
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

/* width 600 px forces the body to always be 600 px wide
margin 0 auto -> when it has 2 values, a prop like margin or padding saffects the elemtns
top and btm sides. the 2nd value affects the lft and right side. 0 top bot
auto is a special value that divides /2 the horizpntal space betw left and right evenly


bkg clr: orange sets the nuance to orrange for th body as opposed to blue for the html elemtn

padd: top right bottom left, sus dreapta jos stanga, invers acelor de ceasornic

padding: 5px solid black; sets the values for the width style and color of the border
5 pixel wide solid black on all sides of the body



*/


/*positioning and styling the main page title*/

h1 {

    margin: 0; /* overwrites the bassing hoirrible gap at the top of the body
    set by default by the browser*/
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;    /*3rd px sets the blur radius of the shadow
    4th px sets the base color of the shadow
    1st and 2nd px horizontal and vertical offsets*/
}

img {
    display: block;
    margin: 0 auto; /*how to center an image*/

    /*images are inline elements, sso for the auto marin trick to work on this image
    we must give it block-lvl behaviour using display: block
    we dont have to do this for the body element because the body is already a block
    elemetn*/
}