/* Stiluri pentru antet */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header .titlu {
  font-size: 32px;
  margin-bottom: 10px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

/* Stiluri pentru secțiuni */
section {
  margin: 20px;
}

section h2 {
  color: #333;
  font-size: 24px;
}

section p {
  color: #666;
}

section ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Stiluri pentru subsol */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
