body {
  background-color: E5E5E5;
  font-family: 'Montserrat', sans-serif;
}

.right-section {
  padding-left: 88px;
}

.about-me-profession {
  font-size: 14px;
  color: black;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

.about-me-section {
  background-color: red;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.projects-section {
  background-color: chocolate;
}

.work-experience-section {
  background-color: aqua;
}

/* Siderbar styles */

.sidebar-section {
  background-color: #e0ebfe;
  width: 370px;
}

.sidebar-section img {
  margin-top: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin-left: 40px;
}

.contacts-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 10px;
}

.contacts-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-list {
  color: #6d9bf5;
  padding-left: 20px;
}

.sidebar-list span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
